@charset 'UTF-8';

@font-face {
    font-family: "n-ui-font";
    src: url("./n-ui.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

[class^="n-icon-"]:before,
[class*=" n-icon-"]:before {
    font-family: "n-ui-font", sans-serif !important;
    speak: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.n-icon-yuque:before { content: "\e001"; }
.n-icon-n:before { content: "\e002"; }
.n-icon-qq:before { content: "\e003"; }
.n-icon-wx:before { content: "\e004"; }
.n-icon-phone:before { content: "\e005"; }
.n-icon-util:before { content: "\e006"; }
.n-icon-blog:before { content: "\e007"; }
.n-icon-cv:before { content: "\e008"; }
.n-icon-wxmp:before { content: "\e009"; }
.n-icon-github:before { content: "\e00a"; }
.n-icon-mail:before { content: "\e00b"; }
.n-icon-search:before { content: "\e00c"; }
//second
.n-icon-success:before { content: "\e00d"; }
.n-icon-info:before { content: "\e00e"; }
.n-icon-warning:before { content: "\e00f"; }
.n-icon-thumb-up:before { content: "\e010"; }
.n-icon-error:before { content: "\e011"; }
.n-icon-close:before { content: "\e012"; }
.n-icon-code:before { content: "\e013"; }

//third
.n-icon-download:before { content: "\e600"; }

.n-icon-upload:before { content: "\e601"; }

.n-icon-refresh:before { content: "\e851"; }

.n-icon-adjust:before { content: "\e67c"; }

.n-icon-not-love:before { content: "\e69c"; }

.n-icon-love:before { content: "\e69d"; }

.n-icon-chart:before { content: "\e60e"; }

.n-icon-header:before { content: "\e673"; }

.n-icon-trash:before { content: "\e652"; }

.n-icon-edit:before { content: "\eaa7"; }

.n-icon-linkedin:before { content: "\eb37"; }

.n-icon-twitter:before { content: "\ecb3"; }

.n-icon-folder:before { content: "\e64a"; }

.n-icon-filter:before { content: "\e669"; }

.n-icon-collapse-up:before { content: "\e631"; }

.n-icon-eye:before { content: "\e63a"; }

.n-icon-eye-slash:before { content: "\ecb8"; }

.n-icon-cancel:before { content: "\eab0"; }

.n-icon-arrow-bottom:before { content: "\e6a2"; }

.n-icon-underline:before { content: "\e734"; }

.n-icon-equation:before { content: "\e810"; }

.n-icon-setting:before { content: "\e608"; }

.n-icon-more:before { content: "\e60b"; }

.n-icon-package:before { content: "\e9c5"; }

.n-icon-tick:before { content: "\e61e"; }

.n-icon-cross:before { content: "\e621"; }

.n-icon-google-plus:before { content: "\e721"; }

.n-icon-emotion:before { content: "\e6ae"; }

.n-icon-weibo:before { content: "\e720"; }

.n-icon-google:before { content: "\e719"; }

.n-icon-language:before { content: "\e756"; }

.n-icon-reset:before { content: "\e60c"; }

.n-icon-ban:before { content: "\e6ad"; }

.n-icon-customer-service:before { content: "\e7bb"; }

.n-icon-camera:before { content: "\e6b3"; }

.n-icon-book:before { content: "\e64f"; }

.n-icon-share:before { content: "\e633"; }

.n-icon-chat:before { content: "\e62b"; }

.n-icon-link:before { content: "\e624"; }

.n-icon-user:before { content: "\e620"; }

.n-icon-user-search:before { content: "\e64e"; }

.n-icon-apple:before { content: "\e602"; }

.n-icon-italic:before { content: "\e6f8"; }

.n-icon-detail:before { content: "\e609"; }

.n-icon-split:before { content: "\e639"; }

.n-icon-facebook:before { content: "\e635"; }

.n-icon-qr-code:before { content: "\e60d"; }

.n-icon-compress:before { content: "\e626"; }

.n-icon-expand:before { content: "\e62a"; }

.n-icon-bell:before { content: "\e650"; }

.n-icon-unordered-list:before { content: "\e764"; }

.n-icon-power:before { content: "\e85d"; }

.n-icon-copy:before { content: "\e687"; }

.n-icon-image:before { content: "\e627"; }

.n-icon-ordered-list:before { content: "\e9ca"; }

.n-icon-quote:before { content: "\e9cc"; }

.n-icon-search:before { content: "\e606"; }

.n-icon-insert-row:before { content: "\e6ee"; }

.n-icon-bold:before { content: "\e6fe"; }

.n-icon-create:before { content: "\e603"; }

.n-icon-minus:before { content: "\ecbf"; }

.n-icon-pagelines:before { content: "\e6eb"; }

.n-icon-globe:before { content: "\e668"; }

.n-icon-send:before { content: "\e905"; }

.n-icon-user-edit:before { content: "\e607"; }

.n-icon-user-manage:before { content: "\e60a"; }

.n-icon-left:before { content: "\e6af"; }

.n-icon-right:before { content: "\e6e7"; }

.n-icon-arrow-right:before { content: "\eaa8"; }

.n-icon-arrow-top:before { content: "\eaa9"; }

.n-icon-arrow-left:before { content: "\eaaa"; }

.n-icon-shenhebaobiao:before { content: "\e62c"; }

.n-icon-collapse-down:before { content: "\ecb4"; }

.n-icon-bottom:before { content: "\ecb5"; }

.n-icon-top:before { content: "\ecb6"; }

.n-icon-date:before { content: "\e60f"; }

.n-icon-go-to-right:before { content: "\ecb7"; }

.n-icon-account-1:before { content: "\e700"; }

.n-icon-account-2:before { content: "\e701"; }

.n-icon-account-3:before { content: "\e703"; }

.n-icon-settlement-4:before { content: "\e704"; }

.n-icon-config-2:before { content: "\e705"; }

.n-icon-settlement-3:before { content: "\e706"; }

.n-icon-config-1:before { content: "\e707"; }

.n-icon-settlement-2:before { content: "\e708"; }

.n-icon-settlement:before { content: "\e710"; }

.n-icon-report-form:before { content: "\e711"; }

.n-icon-product:before { content: "\e712"; }

.n-icon-plan:before { content: "\e713"; }

.n-icon-advisor:before { content: "\e714"; }

.n-icon-channel:before { content: "\e715"; }

.n-icon-market:before { content: "\e716"; }

.n-icon-product-2:before { content: "\e717"; }

.n-icon-plan-2:before { content: "\e718"; }

.n-icon-user-list:before { content: "\e722"; }
